.animation{
    animation-duration: 2s;
    animation-direction: normal;
    animation-name: up;
    position: relative;
}

span{
    font-size: 60px;
    color: red;
}
body{
    background-color: grey;
}

.nyan{
    animation-duration: 1s;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-name: nyan;
    position: relative;
}

.arc-en-ciel{
    font-size : 200px;
    animation-direction:normal;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: arc;
    position: relative;
}

div{
    position: absolute;
}
@keyframes up{
    0%{
        left: 00px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: -300px;
    }
}
@keyframes arc{
    0%{

        color: red;
    }
    15%{

        color: orangered;
    }
    30%{

        color: yellow;
    }
    45%{
        color: yellowgreen;
    }
    60%{

        color: cyan;
    }
    75%{

        color: blue;
    }
    95%{

        color: blueviolet;
    }
    100%{
        color: red;
    }

}
@keyframes nyan{
    0%{

        background-image: url('Images/nyancat-1.png');
    }
    8%{

        background-image: url('Images/nyancat-2.png');
    }
    16%{

        background-image: url('Images/nyancat-3.png');
    }
    24%{

        background-image: url('Images/nyancat-4.png');
    }
    32%{

        background-image: url('Images/nyancat-5.png');
    }
    40%{

        background-image: url('Images/nyancat-6.png');
    }
    48%{

        background-image: url('Images/nyancat-7.png');
    }
    56%{

        background-image: url('Images/nyancat-8.png');
    }
    64%{

        background-image: url('Images/nyancat-9.png');
    }
    72%{
  
        background-image: url('Images/nyancat-10.png');
    }
    80%{

        background-image: url('Images/nyancat-11.png');
    }
    88%{

        background-image: url('Images/nyancat-12.png');
    }
    100%{
  
        background-image: url('Images/nyancat-1.png');
    }
}